.group-edit, .group-edit-finished {
    padding: 1rem;
}

.group-edit::before, .group-edit::after {
    position: relative;
    overflow: hidden;
    content: '';
    clear: both;
    display: block;
}

.group-preexisting-member {
    margin-bottom: 1rem;
}

.member-heading {
    margin-top: 1rem;
    margin-bottom: -.5rem;
}